<div class="container">
  <div class="block">
    <h1 class="title is -1">My events</h1>
      <h2 class="title is-4">Events I am hosting</h2>
        <p class="content is-small">No events yet! Create an event and start your Pear Up experience!</p>
          <h3 class="title is-4">Events I am attending</h3>
        <p class="content is-small"> No events yet! Find events close to you and start your Pear Up experience!</p>
    </div>
</div>

<div class="field is-grouped columns is-centered">
  <div class="control column is-6 is-offset-3"><br/>
      <button type="submit" class="button is-warning is-medium is-super-warning">Create Event</button>
  </div>
</div>

<div class="container">
  <div class="block">
    <h1 class="title is-1">Events near me</h1>
      <div class="field">
          <label class="label">Distance from me</label>
            <p class="control">
              <span class="select">
                <select>
                <option>0-10km</option>
                <option>10-20km</option>
                <option>20-30km</option>
                <option>40-50km</option>
                </select>
            </span>
          </p>
      </div>
    </div>
</div>

<div class="container">
  <div class="columns">
    <div class="column is-three-quarters is-offset-one-quarter columns">
      <div class="column is-one-quarter">
        <p>testing</p>
      </div>
      <div class="column is-three-quarters">
      <article class="message is-primary">
        <div class="message-body">
          <div class="block">
            <div class="columns">
            <div class="column">
            <h1 class="title is-1">Fall Risotto</h1>
              <h2 class="title is-5">Name</h2>
                <p class="content is-small">Susan Richards</p>
                  <h2 class="title is-5">Location</h2>
                <p class="content is-small"> Burnaby, BC</p>
                <h2 class="title is-5">Specialty</h2>
              <p class="content is-small"> Butternut Squash Risotto</p>
            </div>
          <div class="column">
            <h2 class="title is-5">Description</h2>
            <p class="content is-small"> I used to love cooking, but I don’t get to do it much because I’d just be cooking for myself.
              I’m hoping to meet someone to share this hobby with!</p>
            </div>
            <div class="column">
                <button type="submit" class="button is-warning is-medium is-super-warning">See Event</button> <br> <br>
                <button type="submit" class="button is-warning is-medium is-super-warning">Message</button>
              </div>
            </div>
        </div>
      </div>
        </article>
      </div>
    </div>
  </div>
</div>
