@import "colors";
@import "bulma";
@import "overrides";
@import "mixins";
@import "pod-styles";

.landing-logo {
  height: 223px;
  margin-bottom: 30px;
}

.find-out-more {
  height: 21px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.landing-page-buttons {
  margin-top: 100px;
}

.has-landing-background {
  @include transparent_bg("/assets/images/landing-background.png", 0.68, #fff);
  background-size: cover;
}

.button {
  border-radius: 100px;
  padding-left: 50px;
  padding-right: 50px;
}

.is-featured {
  background-color: #fff;
    .message-body {
      border: 3px solid $primary;
      border-radius: 8px;
    }
}

.home-features {
  margin: 30px 0 30px 0;
}

.navbar {
  margin-left: 30px;
  margin-top: 80px;
  border-top: 1px solid $primary;
  padding-top: 10px;
  margin-right: 30px;
}

#navbar {
  margin-left: 30px;
}

.navbar-item img {
    max-height: 2.5rem;
}

.navbar-end {
  margin-right: 40px;
}

@media screen and (min-width: 769px) {
  .hero.is-large .hero-body {
      padding-bottom: 10rem;
      padding-top: 10rem;
  }
}
