{{#freestyle-guide
  title='Pearup styleguide'
  subtitle='Living Style Guide'
  }}

  {{#freestyle-section name='Visual Style' as |section|}}

    {{#section.subsection name='Typography'}}

      {{#freestyle-usage 'typography-times' title='Raleway'}}
        {{freestyle-typeface fontFamily='raleway'}}
        <br /><br />
        <div class="content">
          <h1>h1 font size</h1>
          <h2>H2 font size</h2>
          <h3>H3 font size</h3>
          <p style="p1">p1 font size</p>
          <p style="p2">p3 font size</p>
          <p style="p3">p3 font size</p>
        </div>

      {{/freestyle-usage}}
    {{/section.subsection}}


    {{#section.subsection name='Color'}}

      {{#freestyle-usage 'fp' title='Freestyle Palette' usageTitle='Usage'}}
        {{freestyle-palette
        colorPalette=colorPalette
        title='Dummy App Color Palette'
        description='This component displays the color palette specified in freestyle/palette.json'
        }}
      {{/freestyle-usage}}

    {{/section.subsection}}

  {{/freestyle-section}}

{{/freestyle-guide}}
