<section class="hero is-success is-large has-landing-background">
 <div class="hero-body">
   <div class="container has-text-centered">
     <img src="/assets/images/Logo_Icon_large.png" class="landing-logo"/>
     <h1 class="title has-text-weight-light has-text-grey-dark">
       PearUp
     </h1>
     <div class="landing-page-buttons">
       <div class="columns">
         <div class="columns column is-4 is-offset-4">
          <div class="column">
            {{#link-to 'sign-up' class="button is-warning is-medium"}}
            Sign Up
            {{/link-to}}
          </div>
          <div class="column">
            {{#link-to 'login' class="button is-warning is-medium"}}
            Login
            {{/link-to}}
          </div>
        </div>
      </div>
     </div>
   </div>
 </div>

 <div class="hero-foot">
   <nav class="tabs">
     <div class="container has-text-centered has-text-weight-semibold">
       <p class="has-text-grey-dark">What is PearUp?</p>
        <img src="/assets/images/DownArrow.png" class="find-out-more"/>
     </div>
   </nav>
 </div>
</section>

 <div class="columns home-features">
  <article class="message is-featured column is-6 is-offset-3">
    <div class="message-body columns level">
      <div class="column is-one-third level-left has-text-centered">
        <img src="/assets/images/find-people.png" />
      </div>
      <div class="column is-two-thirds level-right">
        <h1 class="has-text-weight-bold is-size-3">Find People</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </p>
      </div>
    </div>
  </article>
</div>
<div class="columns home-features">
  <article class="message is-featured column is-6 is-offset-3">
    <div class="message-body columns level">
      <div class="column is-one-third level-left has-text-centered">
        <img src="/assets/images/make-a-plan.png" />
      </div>
      <div class="column is-two-thirds level-right">
        <h1 class="has-text-weight-bold is-size-3">Make a plan</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </p>
      </div>
    </div>
  </article>
</div>
<div class="columns home-features">
  <article class="message is-featured column is-6 is-offset-3">
    <div class="message-body columns level">
      <div class="column is-one-third level-left has-text-centered">
        <img src="/assets/images/cook-with-others.png" />
      </div>
      <div class="column is-two-thirds level-right">
        <h1 class="has-text-weight-bold is-size-3">Cook with Others</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
        </p>
      </div>
    </div>
  </article>
</div>
