<nav class="navbar is-transparent nav-header">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/Logo_icon_banner.png" alt="" height="79">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="top-navbar" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary is-outlined" target="_blank">
              <span>
                Events
              </span>
            </a>
            <a class="button is-primary is-outlined" target="_blank">
              <span>
                Message
              </span>
            </a>
          </p>
          <p class="control">
            <div class="navbar-item has-dropdown is-hoverable">
              {{link-to "Profile" "profile" class="navbar-link"}}
              {{!-- <a class="navbar-link" href="/documentation/overview/start/">
                Profile
              </a> --}}
              <div class="navbar-dropdown">
                {{#link-to 'profile.edit' class="navbar-item"}}
                  Edit Profile
                {{/link-to}}
                <a class="navbar-item" href="">
                  My Recipes
                </a>
                <a class="navbar-item" href="">
                  My Account
                </a>
                <a {{action "logout"}} class="navbar-item">
                  Logout
                </a>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>

{{outlet}}
