<style>
 .navy{
   background-color: #f5f5f5!important;
   background-image: none;
   height: 180px;
 }

</style>

<div class="container">
  <div class="row profile-body">
    <div class="col-md-4">
      <img src="/assets/images/new-av.png" class="profile-image">
      <p><span>
        <img src="/assets/images/icon-location.png" class="location-icon"></span> Vancouver, Canada</p>
    </div>
    <div class="col-md-8">
      <p class="profile-text">
        MY PROFILE
      </p>
      <h1 class="profile-header">Donald Ive</h1>
      <p class="edit"><a href="#">Edit</a></p>
      <p class='profile-gender'>
        Male <br />
      </p>
      <p class='profile-biography'>
        Retired photographer and documentary filmmaker.<br />
      </p>

      <div class="line">
      </div>

      <p class="interests-text">INTERESTS</p>
        <button type="button" class="btn btn-success">
          <img src="assets/images/hiking.png" class="hiking-icon" /> biking
        </button>
        <button type="button" class="btn btn-success">
          <img src="assets/images/hiking.png" class="hiking-icon" /> photography
        </button>
        <button type="button" class="btn btn-success">
          <img src="assets/images/hiking.png" class="hiking-icon" /> filming
        </button>
        <img src="/assets/images/tag-add.png" class="add-button"><br />
      <div class="line needs-line">
      </div>

      <p class="needs-text">NEEDS</p>
      <button type="button" class="btn btn-success btn-needs">
        <img src="assets/images/hiking.png" class="hiking-icon" /> talk
      </button>
      <button type="button" class="btn btn-success btn-needs">
        <img src="assets/images/hiking.png" class="hiking-icon" /> chores
      </button>
      <img src="/assets/images/tag-add.png" class="add-button"><br />
      {{!-- <% @user.needs.each do |need| %> --}}
        {{!-- <button type="button" class="btn btn-success btn-needs"><%= image_tag "hiking.png", class: "hiking-icon" %><%= need.name %></button> --}}
      {{!-- <% end %> --}}

      {{!-- <%= image_tag "tag-add.png", class: "add-button" %> <br /> --}}
      <div class="line needs-line">
      </div>
    </div>
  </div>
</div>
